h1 {
    font-weight: 500px;
    color: $grey;
    margin-top: 30px;
}

.dialog-container {
    width: 100%;
    margin-top: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;

    .content {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px;
        @include bg-opacity($light, 0.7);

        p {
            margin-left: 2px;
        }
    }
}

.example-content {
    button {
        min-height: 30px;
        margin-right: 5px;
        margin-top: 5px;
    }
}
