// Colors for dialog usage
$dark: #262626;
$light: #f2f2f2;
$white: #fff;
$light-blue: #007bff;
$dark-blue: #1c2d44;
$red: #bb1b0d;
$orange: #e3894f;
$yellow: #ffda6c;
$green: #28a745;

//grey for home design
$light-grey: #cbcbcb;
$grey: #656565;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
